# Environnements virtuels
venv/
.env/

# Fichiers temporaires / caches Python
__pycache__/
*.pyc
*.pyo

# Données et modèles
data/
models/
# Ne pas ignorer le dossier data lui-même
!data/
# Ne pas ignorer les fichiers DVC dans data
!data/*.dvc


# Notebooks checkpoints
.ipynb_checkpoints/
